@import url('./reset.css');

article {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
article > h2 {
    text-transform: capitalize;
    padding: 20px 0;
}
article > div { width: 50%; }
article > div > img { width: 100%; }

.ani-transition > img {
    border-radius: 0%;
    transition: all 0.5s 0s ease
}
    /* transition: border-radius 0.5s 1s linear, transform 0.5s 1s linear; */
    /* 
    transition-duration: border-radius;
    transition-property: 0.5s;
    transition-delay: 1s;
    transition-timing-function: linear;
    */
.ani-transition:hover > img {
    border-radius: 100%;
    transform: scale(1.2);
}

/* scale */
.ani-scale > img { transition: 1s steps(3, end); }
.ani-scale:hover > img { transform: scale(1.5); }

/* rotate */
.ani-rotate > img { transition: 1s; }
.ani-rotate:hover > img { transform: perspective(300px) rotateY(45deg); }

/* translate */
.ani-translate > img { transition: 0.5s; }
.ani-translate:hover > img { transform: translate(-10%, -10%); }
.ani-translate { position: relative; }
.ani-translate::after {
    content: '';
    width: 100%; height: 90%;
    background-color: darkgray;
    display: block;
    position: absolute;
    left: 0; bottom: 0;
    z-index: -1;        /* 레이어 우선순위 같은 느낌 */
    
    transform-origin: 0 100%;   /* 기준점을 변경 */
    transform: skewX(0deg);   /* 값만큼 비틀기 */
    transition: 0.5s;
}
.ani-translate:hover::after {
    transform: skewX(-10deg);
}

aside {
    padding: 100px;
    background-color: yellow;
    border: 1px solid black;

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* animation */
.ani-text { overflow: hidden; text-align: center; }
.ani-text > p {
    /* animation: 이름 변형속도 지연속도 움직임방식 반복횟수 방향 상태; */
    font-size: 50px;
    font-weight: bold;
    transform: translateY(100%);
    animation: text 0.5s 1s forwards;
}
@keyframes text {                               /* animation을 사용하라면 써야함 */
    from { transform: translateY(100%); }       /* 시작 */
    to { transform: translateY(0%); }           /* 끝 */
}

.ani-text::after {
    content: '';
    display: flex;
    border-bottom: 2px solid black;

    width: 0%;
    margin: 0 auto;
    animation: line 0.5s 1.3s infinite alternate;
    /*
    forwards  : 마지막에서 멈춤
    infinite  : 무한반복
    alternate : 처음으로 돌아갈때도 부드러운 애니메이션 효과 넣어줌
    */
}
@keyframes line { to { width: 100%; } }

/* ani-card */
.ani-card > div {
    position: relative;
    width: 100%; height: 300px;

    transform-style: preserve-3d;       /* z축이 만들어짐 */
}
.ani-card > div > p {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
.ani-card > div > p > img { width: 100%; height: 100%; }
.ani-card > div > p:nth-of-type(2) {
    background-color: black;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(-1px) rotateY(180deg);       /* z축을 -50px 이동 */
}
.ani-card > div { animation: card 3s infinite; }
@keyframes card {
    0% { transform: perspective(900px) rotateY(0deg); }
    100% { transform: perspective(900px) rotateY(360deg); }
}

/* ani-cube */
.ani-cube {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ani-cube > div {
    position: relative;
    width: 300px; height: 300px;
    min-width: 300px; min-height: 300px;
    animation: cube 5s infinite;
    transform-style: preserve-3d;
}
.ani-cube > div > p {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.ani-cube > div > p > img { object-fit: cover; }
.ani-cube > div > p:nth-of-type(1) {
    transform: rotateY(0deg) translateZ(150px);
}
.ani-cube > div > p:nth-of-type(2) {
    transform: rotateY(90deg) translateZ(150px);
}
.ani-cube > div > p:nth-of-type(3) {
    transform: rotateY(180deg) translateZ(150px);
}
.ani-cube > div > p:nth-of-type(4) {
    transform: rotateY(270deg) translateZ(150px);
    transition: linear;
}
@keyframes cube {
    0% { transform: perspective(1000px) rotateY(0deg); }
    100% { transform: perspective(1000px) rotateY(360deg); }
}

/* ani-svg */   
.ani-svg svg path { 
    fill: transparent;      /* transparent : 투명색 */
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 200px;
    stroke-dashoffset: 200px;
    animation: svg 2s forwards;
}
@keyframes svg { 100% { stroke-dashoffset: 0px; } }

.ani-sign svg {
    fill: transparent;
    stroke: black;
    stroke-width: 3px;
    stroke-dasharray: 3000px;
    stroke-dashoffset: 3000px;
    animation: sign 3s forwards;
}
@keyframes sign { 100% { stroke-dashoffset: 0px; } }