article {
    width: 400px;
    margin: 100px auto;
}
article h2 {
    background-color: black;
    color: white;
    padding: 10px;
}

/* ========== text-overflow ========== */
.text-overflow > p:nth-child(1) {   /* nth-of-type과의 차이점 : 부모 요소의 자식 요소 중 (n)번째 요소 (type 조건을 만족하지 않아도 됨) */
    white-space: nowrap;            /* 무조건 한줄 처리 */
    overflow: hidden;               /* 넘어선 영역 숨김 */
    text-overflow: ellipsis;        /* 생략 기호 만들기 */
}
.text-overflow > p:nth-child(3) {
    display: -webkit-box;           /* -webkit- : 특정 브라우저를 가리키는 접두사 (크롬, 사파리) */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;          /* n줄까지만 보여주고, 넘치면 말줄임 처리 (자동 text-overflow: ellipsis; 처리) */
    overflow: hidden;
}
/*
한 줄 말줄임        white-space: nowrap;  +  text-overflow: ellipsis;
여러 줄 말줄임      display: -webkit-box;  +  -webkit-line-clamp: 2;
*/

/* ========== fill / stroke ========== */
.t-fill-stroke > p { font-size: 50px; }
.t-fill-stroke > p:nth-child(1) { -webkit-text-fill-color: red; }
.t-fill-stroke > p:nth-child(2) {
    font-weight: bold;
    -webkit-text-stroke: 1px red;   /* 글자한테 외곽선 넣기 */
}

/* ========== shadow ========== */
.shadow {
    background-color: black;
    padding: 50px;
}
.shadow > p:nth-child(1) {
    color: white;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
              /* x   y   blur  color */
    text-shadow: 2px 2px 0px orangered,
                 2px 2px 10px rgb(255, 0, 191);

    box-shadow: 5px 5px 0px orangered,
                0px 0px 30px orangered;
}
.shadow > p:nth-child(2) > img { filter: drop-shadow(2px 2px 0 red); }

.filter > p > img { width: 100%; }
.filter > p:nth-child(1) > img { filter: blur(10px); }
.filter > p:nth-child(2) > img { filter: brightness(1.5); }
.filter > p:nth-child(3) > img { filter: grayscale(0.8); }
.filter > p:nth-child(4) { position: relative; }
.filter > p:nth-child(4) > span {
    position: absolute;
    padding: 10px 30px;
    transform: translate(-50%, -50%);
    left: 50%; top: 50%;
    backdrop-filter: sepia(0.8);     /* [ blur | invert | sepia ] */
}