@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

/* ===== ex-pos ===== */
.ex-pos {
    width: 600px;
    margin: 100px auto;
    position: relative;
}
.ex-pos > img { width: 100%; }
.ex-pos > p {
    position: absolute;
    left: 7%; bottom: 10%;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 20px;
}

/* ===== ex-pos2 ===== */
.ex-pos2 {
    width: 500px; height: 500px;
    margin: 100px auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 20px black;
}
.ex-pos2 > img { height: 100%; }
.ex-pos2 > p {
    position: absolute;
    left: 4%; top: 5%;
    background-color: rgba(138, 43, 226, 0.6);
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.ex-pos2 > div {
    position: absolute;
    left: 0; bottom: 0;
    width: 50%;
    background-color: white;
    padding: 25px;
    border-radius: 0 20px 0 20px;
}
.ex-pos2 > div > p:nth-of-type(1) { padding-bottom: 10px; }
.ex-pos2 > div > p:nth-of-type(2) {
    font-size: 12px;
    color: gray;
}

/* ===== ex-pos3 ===== */
.ex-pos3 {
    width: 1400px;
    margin: 100px auto;
}
.ex-pos3 .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ex-pos3 .title > h2 {
    font-size: 32px;
}
.ex-pos3 .title > h2 > small {
    font-size: 20px;
    display: block;         /* small태그는 inline태그 이므로 block처리를 해줘서 다음 줄로 넘겨버림 */

}

.ex-pos3 .title > a {}
.ex-pos3 .title > a::before {        /* [ ::before | ::after ] 공간셀렉터 a태그 안에 빈 깡통태그를 만들어 줌 */
    content: 'arrow_right_alt';
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
}