body {           /* body태그에 속성을 걸어둠 */
    /* background-color: gray; */
}

.red {          /* class의 이름을 가리킬 때는 . */
    background-color: red;
}

#blue {         /* id의 이름을 가리킬 때는 # */
    background-color: blue;
}

/* contents 안에 첫번째 자식 */
.contents > p:nth-of-type(1) {}     /* contents 안에 p태그들 중 첫번째 자식을 가리킴 */
.contents > p:nth-of-type(2) {      /* p :nth-of-type(1) 처럼 띄워 놓으면 인식이 안됨 */
    background-color: pink;
}
.contents > p:nth-of-type(3) {}

/* ================================================================================== */

.contents2 > div > p:nth-of-type(2) {       /* contents2 안에 div안에 p태그들 중 2번째 */
    background-color: aqua;
}

.contents2 p:nth-of-type(2) {               /* 정확하게 어딘지 안알려줘도 되긴하지만 덮힐 수 있음 */
    background-color: violet;
}

/* ================================================================================== */

.tag-name {
    border: 1px solid black;
    padding: 30px;
    width: 500px;
}
.tag-name > h2 {
    background-color: black;
    color: white;
    padding: 10px 30px;                     /* padding: 상하px 좌우px; */
}
.tag-name > ul {
    list-style-type: none;                  /* li의 점을 없애줌 */
    padding: 0;
}
.tag-name > ul > li {
    border-bottom: 1px dashed black;      /* 외곽선의 원하는 방항을 적을 수 있음 */
    padding: 15px 0;
}

/* ================================================================================== */

.font li:nth-of-type(1) { font-size: 24px; }
.font li:nth-of-type(2) { font-weight: bold; }                    /* font가 지원하는지 확인 (숫자로도 가능(font-weight: 700;)) */
.font li:nth-of-type(3) { font-family: 'bauhaus 93'; }
.font li:nth-of-type(4) { font-style: italic; }
.font li:nth-of-type(5) { color: red; }
.font li:nth-of-type(6) { line-height: 3; }
.font li:nth-of-type(7) { letter-spacing: 10px; }
.font li:nth-of-type(8) { text-align: center; }                   /* left | center | right */
.font li:nth-of-type(9) { text-decoration: line-through; }        /* underline(하단) | line-throght(중앙) | overline(상단) */
.font li:nth-of-type(10) { text-transform: uppercase; }           /* capitalize(첫스펠링 대문자) |  lowercase(소문자) | uppercase(대문자) */

/* ================================================================================== */

.mp li { white-space: pre-line; }       /* 입력한 그대로 보여줌(<br>같은거 안써도 쓴대로 보여짐), 되도록 쓰지 않는게 좋음 */
.m-auto {
    width: 100px; height: 100px;
    background-color: yellow;
    border: 1px solid red;
    margin: 50px auto;
}

/* ================================================================================== */

.line > span {
    border: 10px solid red;
    padding: 30px;
    display: inline-block;                  /* 영역을 침범하지 못하게 해줌 */
    /* display: block;                         inline태그인 span을 되도록이면 강제로 바꾸지 말것 */
}

.line > span:nth-of-type(1) { border-style: solid; }
.line > span:nth-of-type(2) {
    border-style: dotted;

    border: none;                           /* none처리를 해 border삭제 */
    border-bottom: 5px dotted blue;       /* 다시 border를 생성해줌 */
}
.line > span:nth-of-type(3) {
    border-style: dashed solid dotted;             /* padding, margin과 똑같이 상하좌우를 다 따로 해당가능 */
}
