@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 
    font-family: "Nanum Myeongjo", serif;
    font-family: "Roboto", sans-serif;
*/

.font-1 > div:nth-of-type(1) { font-family: "Nanum Myeongjo", serif; }

/* ic끼리 공통적으로 사용될 요소들 */
.ic {
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;         /* inline속성인 것들을 중앙 정렬 시킴 */
}

/* 상황마다 다를 수 있는 요소들은 개별로 만들어줌 */
.ic-20 { font-size: 20px; }
.ic-30 { font-size: 30px; }

.ic-red { color: red; }
.ic-blue { color: blue; }

/* ================================================================================= */

html{ font-size: 16px; }
body{
    font-family: "Nanum Myeongjo", serif;
    line-height: 2;
}

.font-2 > div { font-size: 2rem; }          /* rem은 최상위 태그가 갖고 있는 명령의 곱 */

.font-2 > ul {
    font-size: 20px;
    border-top: 1px dashed black;
}
.font-2 > ul > li:nth-of-type(1) { font-size: 1.5rem; }
.font-2 > ul > li:nth-of-type(2) { font-size: 1.5em; }
.font-2 > ul > li:nth-of-type(3) { font-size: 2vw; }

article {
    width: 60%;
    margin: 100px auto;
    border: 1px solid black;
    padding: 40px;
}