/* 공통 스타일 */

html { font-size: 16px; }
body {
    color: #555;
    text-align: center;
}

section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.title { padding-bottom: 70px; }
.title > h2 {
    color: black;
    font-size: 40px;
    text-transform: uppercase;          /* 대문자로 변환 */
}
.title > p {
    padding-top: 10px;
    color: #555;
    text-transform: uppercase;
}

.contents {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.contents > figure {
    max-width: 420px;
    padding: 20px 0;
    transition: 0.3s;
}
.contents > figure > figcaption { padding: 0 20px; }
.contents > figure > figcaption > b {
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    margin: 20px 0 10px;
    display: inline-block;
}
