@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(./reset.css);

article {
    margin: 100px auto;
    width: 1200px; height: 785px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img_ex2.jpg) center center / cover no-repeat;
    color: white;
    
}

article .title {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
article .title > p:nth-child(1) {
    font-size: 24px;
    padding-bottom: 40px;
}
article .title > p:nth-child(2) { font-size: 45px; }

article .bottom {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
article .bottom .details {
    display: flex;
    align-items: center;
    gap: 10px;
}
article .bottom .details::before {
    font-family: 'Material Icons';
    font-size: 50px;
}
article .bottom .details:nth-child(1)::before { content: 'apartment'; }
article .bottom .details:nth-child(2)::before { content: 'home'; }
article .bottom .details:nth-child(3)::before { content: 'code'; }
article .bottom .details > div > P {font-size: 30px;}
article .bottom .details > div > small {font-size: 16px;}