.box {
    border: 1px solid black;
    width: 400px;
    padding: 40px;
    margin: 100px auto;
}
.box > h2 { font-size: 32px; }
.box > p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}
.box > p > span { color: red; }
.box > a {
    border: 1px solid black;
    background-color: #f2ff00;
    padding: 10px 30px;
    display: inline-block;
    color: black;
    text-decoration: none;
}