.box {
    border: 1px solid black;
    width: 400px;
    padding: 40px;
    margin: 100px auto;
}
.box > img { width: 100%; }
.box > div { padding: 10px; }
.box > div > h2 { font-size: 32px; }
.box > div > p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin: 0 0 50px;
}
.box > div > a {
    border: 1px solid black;
    background-color: #f2ff00;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    display: inline-block;
}