.box {
    border: 1px solid black;
    width: 1400px;
    padding: 60px 80px;
    margin: 100px auto;
}
.box > h2 {
    font-size: 50px;
    margin: 0 0 30px;
}
.bg {
    background: url('../../image/ex.jpg') 0 0 / 1400px no-repeat;
    padding: 300px 0;
    color: white;
    text-align: center;
}
.bg .txt > b { font-size: 50px; }
.bg .txt > p {
    font-size: 23px;
    margin: 10px 0 50px;
}
.bg .btn > a {
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}
.bg .btn .btn_fill { background-color: yellow; }
.bg .btn .btn_stroke { background-color: whitesmoke; }