@import url('./reset.css');
@import url('./common.css');

/* ===== header ===== */
header {
    width: 100%; height: 160px;
    background-color: white;
    position: fixed;
    z-index: 9999;
}
header > div {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 57px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > p {}
header > div > p > img {}

header > div > nav {
    display: flex;
    font-size: 20px;
}
header > div > nav > a {
    padding: 0 30px;
}

header > div > nav .login {
    display: flex;
    padding: 0 10px;
}
header > div > nav .login > a{
    padding: 0 10px;
}

/* ===== spot ===== */
.spot {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/img_spot-main.jpg') 0 0 / cover no-repeat;
    position: relative;
}
.spot .box {
    width: 100%;
    max-width: 1400px;
    position: absolute;
    left: 50%; top: 70%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    padding: 32px 47px;
    color: white;
    display: flex;
    gap: 80px;
}
.spot .box > div > p { font-size: 20px; }
.spot .box > div > div > b { font-size: 32px; }
.spot .box > div > div > small { font-size: 20px; }
.spot .box .openmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.spot .box .openmenu > a {
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.spot .box .openmenu > a > img { padding-left: 90px; }
.spot .box .search {
    width: 80px; height: 80px;
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== room ===== */
.room .contents {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.room .contents img { border-radius: 20px; }
.room .contents > figure {
    position: relative;
}
.room .contents > figure > p {
    width: 1400px;  height: 755px;
    border-radius: 20px;
    overflow: hidden;
}
.room .contents > figure > p > img { width: 100%; }
.room .contents > figure > figcaption {
    position: absolute;
    left: 5%; bottom: 5%;
}
.room .contents > figure > figcaption > b {
    font-size: 40px;
    color: white;
}
.room .contents > figure > figcaption > p {
    font-size: 24px;
    color: white;
}

.room .bar-btn {
    width: 1400px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding-top: 24px;
}
.room .bar-btn .bar {
    display: flex;
}
.room .bar-btn .bar > p:nth-of-type(1) { padding-right: 14px; }
.room .bar-btn .bar > p:nth-of-type(2) { padding-right: 6px; }

.room .bar-btn .btn {
    display: flex;
    gap: 5px;
}
.room .bar-btn .btn > a:nth-of-type(1) {
    border: 1px solid #afafaf;
    border-radius: 4px;
}
.room .bar-btn .btn > a:nth-of-type(2) {
    border: 1px solid #2f2f2f;
    border-radius: 4px;
}