body { margin: 0; }
* { box-sizing: border-box; }

.box {
    border: 1px solid black;
    width: 880px;
    padding: 40px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box > img { width: 50%; }
.box > div { width: 45%; }

.detail { margin-bottom: 50px; }
.detail > .title {
    font-size: 45px;
    margin: 0 0 30px;
}
.detail > .text {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.btn {
    border: 1px solid black;
    background-color: #f2ff00;
    padding: 10px 30px;
    display: inline-block;
    color: black;
    text-decoration: none;
}
.btn:hover {
    background-color: green;
    color: white;
}