@import url(./reset.css);
@import url(./common.css);


//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//                      spot
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.spot {
    width: 100%;
    height: 100vh;
    /* 사용자 해상도 맞게 꽉채움 */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../imgs/img_main-spot.jpg') center center / cover no-repeat;

    /* div한테 flex를 주면 안됨 (div를 중앙에 정렬 시킬것이기 때문에) */
    display: flex;
    /* 알아서 내용에 맞게 div의 사이즈도 조절해줌 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */

    div {
        color: white;

        b {
            font-size: 4vw;
        }

        p {
            font-size: 1.5vw;
            padding: 20px 0 30px;
        }

        a {
            color: inherit;
            /* 부모의 값을 상속받음 / a태그는 이미 color값을 갖고있어서 a태그한테는 상속명령어를 넣어줘야함 */
            font-weight: bold;
            background-color: #593CFB;
            padding: 10px 30px;
            display: inline-block;
            transition: 0.3s;

            &:hover {
                transform: scale(0.95);
            }
        }
    }
}

//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//                      about
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.about {
    .contents {
        figure {
            transition: 0.3s;

            &:hover {
                background-color: #eee;
                border-radius: 30px;

                p {
                    background-color: #fb3c3c;
                    border-radius: 15%;
                }
            }

            .profile {
                background-color: #593CFB;
                width: 160px;
                height: 160px;
                border-radius: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                /* line-height: 160px;                 height의 크기만큼 줄간격을 잡아주면 아이콘이 중앙으로 오게 됨 (flex를 안쓰고 중앙으로 옮기는 방법(1줄짜리만 가능함)(p의 크기가 달라지면 중앙이 아니게 됨)) */
                transition: 0.3s;
            }
        }
    }
}

//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//                      portfolio
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.portfolio {
    background-color: #D9D9D9;

    .contents {
        margin: 0 20px;

        figure {
            p {
                overflow: hidden;

                img {
                    width: 100%;
                    transition: 0.3s;
                }
            }

            &:hover {
                p {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
//                      contect
//━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
.contect {
    background-color: #333333;

    .title {
        h2 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .map {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        .root_daum_roughmap {
            width: 100% !important;

            .cont {
                .section {
                    .address {
                        .tit {
                            color: white;
                        }

                        .txt {
                            color: white;
                        }
                    }

                    .phone {
                        .tit {
                            color: white;
                        }

                        .txt {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    // 버거메뉴
    header {
        .header-box {
            nav {
                display: none;
            }
        }

        .mobile-menu {
            display: block !important;
        }
    }
}